@using S3Browser.App.PageControllers

@page "/buckets"
@inherits BucketsPage

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-sm w-100">
            <h1 class="display-4">S3 Browser</h1>
            <hr />
            <p class="text-muted">List of buckets</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search bucket by name" bind="@SearchText" />
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" onclick="@LoadBucketListAsync"><i class="fas fa-fw @(Loaded ? "fa-search" : "fa-circle-notch fa-spin")"></i></button>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        @if (Loaded)
        {
            if (Buckets.Any())
            {
                <ul class="list-group w-100">
                    @foreach (var bucket in Buckets)
                    {
                        <li class="list-group-item animated fadeInDown">
                            <a href="/buckets/@bucket.BucketName"><i class="fas fa-fw fa-box mr-1"></i> @bucket.BucketName (@bucket.CreationDate)</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="lead">
                    No files found in this bucket <i class="fas fa-fw fa-frown text-danger animated infinite jello"></i>
                </p>
            }
        }
    </div>
</div>
