@using S3Browser.App.Services
@using Amazon.S3.Model;

@page "/buckets"
@inject S3BrowserService S3BrowserService

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-sm w-100">
            <h1 class="display-4">S3 Browser</h1>
            <hr />
            <p class="text-muted">List of buckets</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search bucket by name" bind="@SearchText" />
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" onclick="@LoadBucketListAsync"><i class="fas fa-fw @(Loaded ? "fa-search" : "fa-circle-notch fa-spin")"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Loaded)
        {
            <ul class="list-group w-100">
                @foreach (var bucket in buckets)
                {
                    <li class="list-group-item animated fadeInDown">
                        <a href="/buckets/@bucket.BucketName"><i class="fas fa-fw fa-box mr-1"></i> @bucket.BucketName (@bucket.CreationDate)</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@functions {

    private string SearchText { get; set; } = "";
    private bool Loaded { get; set; } = false;

    IEnumerable<S3Bucket> buckets = new List<S3Bucket>();

    protected override async Task OnInitAsync()
    {
        await LoadBucketListAsync();
    }

    private async Task LoadBucketListAsync()
    {
        Loaded = false;
        buckets = await S3BrowserService.GetBucketListAsync(SearchText);
        Loaded = true;
    }
}
