@using S3Browser.App.PageControllers;
@using System.Linq;

@page "/buckets/{bucketName}"
@page "/buckets/{bucketName}/{prefix}"
@inherits FilesPage

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-sm w-100">
            <h1 class="display-4">S3 Browser</h1>
            <hr />
            <p class="text-muted">List of file from bucket: <b class="text-primary">@BucketName</b></p>
        </div>
    </div>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary" onclick="@(() => OpenFolder(""))">@BucketName</a></li>
                @for (int i = 0; i < BreadCrumbs.Count; i++)
                {
                    <li class="breadcrumb-item @(i == BreadCrumbs.Count - 1 ? "active" : "")">@BreadCrumbs[i]</li>
                }
            </ol>
        </nav>
    </div>
    <div class="row form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <a class="btn btn-outline-warning" href="/buckets" role="button"><i class="fas fa-fw fa-arrow-circle-left"></i></a>
            </div>
            <input type="text" class="form-control" placeholder="Search files in bucket by name" bind="@SearchText" />
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" onclick="@LoadFilesAsync"><i class="fas fa-fw @(Loaded ? "fa-search" : "fa-circle-notch fa-spin")"></i></button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-3 mt-3">
        @if (Loaded)
        {
            @if (Elements.Any())
            {
                <ul class="list-group w-100 mt-2">
                    @foreach (var element in Elements)
                    {
                        <li class="list-group-item list-group-item-action flex-column align-items-start animated fadeInDown">
                            <div class="row">
                                <div class="col-md-8 col-lg-10">
                                    <h6 class="mb-1"><i class="fas fa-fw @(element.IsFolder ? "fa-folder" : "fa-file") mr-1"></i> @element.Name</h6>
                                    @if (element.LastModified != DateTime.MinValue)
                                    {
                                        <small>@element.LastModified</small>
                                    }
                                </div>
                                <div class="col-md-4 col-lg-2">
                                    @if (!element.IsFolder)
                                    {
                                        <div class="text-right">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-sm btn-outline-primary" onclick="@(() => DownloadFileAsync(element.Key))">
                                                    <i class="fas fa-fw fa-download"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-outline-danger" onclick="@(() => DeleteFileAsync(element.Key))">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-right mt-2">
                                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="@(() => OpenFolder(element.Key))">
                                                <i class="fas fa-fw fa-folder-open"></i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (Loaded && !AllLoaded)
                {
                    @if (!AllLoaded)
                    {
                        <p class="text-center">
                            <button class="btn btn-link" onclick="@LoadMoreFilesAsync">load more...</button>
                        </p>
                    }
                    else
                    {
                        <p class="text-center">
                            all objects loaded...
                        </p>
                    }
                }

            }
            else
            {
                <p class="lead">
                    No files found in this bucket <i class="fas fa-fw fa-frown text-danger animated infinite jello"></i>
                </p>
            }
        }
    </div>
</div>
